In [1]:
import pandas as pd

In [3]:
tabela = pd.read_csv('Matriculados.csv')

In [4]:
tabela.head()

              nome;idade;peso;altura;sexo
Maria;20;71;1                        64;F
Pedro;8;33;1                          2;M
Pablo;46;90;1                         9;M
Joana;83;58;1                        54;F

In [12]:
colunas = ['nome', 'peso']

In [10]:
colunas

['nome', 'peso']

In [14]:
tabela[colunas]

KeyError: "None of [Index(['nome', 'peso'], dtype='object')] are in the [columns]"

In [15]:
tabela.iloc[:,:]

              nome;idade;peso;altura;sexo
Maria;20;71;1                        64;F
Pedro;8;33;1                          2;M
Pablo;46;90;1                         9;M
Joana;83;58;1                        54;F

In [16]:
tabela.iloc[1:,:]

              nome;idade;peso;altura;sexo
Pedro;8;33;1                          2;M
Pablo;46;90;1                         9;M
Joana;83;58;1                        54;F

In [17]:
tabela.iloc[1:3,:]

              nome;idade;peso;altura;sexo
Pedro;8;33;1                          2;M
Pablo;46;90;1                         9;M

In [18]:
tabela.iloc[1:2,:]

             nome;idade;peso;altura;sexo
Pedro;8;33;1                         2;M

In [19]:
tabela.iloc[2:,:]

              nome;idade;peso;altura;sexo
Pablo;46;90;1                         9;M
Joana;83;58;1                        54;F

In [20]:
tabela.iloc[:,:3]

              nome;idade;peso;altura;sexo
Maria;20;71;1                        64;F
Pedro;8;33;1                          2;M
Pablo;46;90;1                         9;M
Joana;83;58;1                        54;F

In [21]:
tabela.iloc[1:3,1:3]

Empty DataFrame
Columns: []
Index: [Pedro;8;33;1, Pablo;46;90;1]

In [22]:
n_filhos = [0, 0, 1, 2]

In [23]:
n_filhos

[0, 0, 1, 2]

In [24]:
tabela['n_filhos'] = n_filhos
tabela.head()

              nome;idade;peso;altura;sexo  n_filhos
Maria;20;71;1                        64;F         0
Pedro;8;33;1                          2;M         0
Pablo;46;90;1                         9;M         1
Joana;83;58;1                        54;F         2

In [25]:
tabela.drop(['n_filhos'], axis=0)

KeyError: "['n_filhos'] not found in axis"

In [ ]:
tabela.drop(['n_filhos'], axis=1)

In [28]:
tabela.head()

              nome;idade;peso;altura;sexo
Maria;20;71;1                        64;F
Pedro;8;33;1                          2;M
Pablo;46;90;1                         9;M
Joana;83;58;1                        54;F

In [29]:
tabela2 = tabela.drop(['n_filhos'], axis=1)
tabela2.head()

KeyError: "['n_filhos'] not found in axis"

In [30]:
tabela.drop(['n_filhos'], axis=1, inplace=True)
tabela.head()

KeyError: "['n_filhos'] not found in axis"